body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.poster {
    background-image: url("../resources/Banner\ Image.png");
    display: block;
    margin: 10px 140px 110px;
    padding: 130px 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}



.poster-tittle {
    color: #fff;
    font-family: Merriweather;
    font-size: 32px;
    text-align: center;
    font-weight: 400;


}

.poster-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;


}

.p-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.p-deal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.p-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;



}

.p-img {
    margin: 0 auto;
    display: block;
    width: 40%;
}

.section-one {
    background-image: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url("../resources/Group\ 70.png"), url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: 86.5%;
    width: auto;
    max-height: 600px;
    margin: 0px 120px;
    border-radius: 16px;
}

.dance {
    padding: 80px 345px 120px 117px;
}

.section-one-title {
    color: #fff;
    font-family: Merriweather;
    font-size: 58px;
    font-weight: 900;
    line-height: 88px;
    margin-right: 252px;
    margin-bottom: 15px;
}

.section-one-paragraph {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 180px;
    padding-bottom: 26px;
}

.sec-one-btn {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding-left: 35px;
}

.section-venue {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
    width: auto;
    height: 481px;
    margin: 100px 120px;
    padding-top: 100px;
    border-radius: 16px;
}

.venue {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.venue-details {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;

    text-transform: capitalize;
}

.btn-color,
.venue-btn {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #f00;
    border: 0px;

    padding: 16px 32px;
}

.btn-color {
    border-radius: 8px;
}

.venue-btn {
    text-align: center;
    margin-top: 49px;
}

.sales-announe {
    margin: 106px 120px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.sales-deals {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.sales-offer {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
}

.offer-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 393px;
    margin-bottom: 104px;
}

.picture-hny {
    padding: 35px;
    border-radius: 463px;
    border: 15px solid #f00;
}

.heading-now {
    color: #f00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.heading-quote {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-top: 16px;
    margin-bottom: 16px;
}

.selling-des {
    margin: 100px 120px;
    width: auto;
}

.selling-slogan {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    height: 28px;
    margin-bottom: 16px;
}

.discount {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    height: 90px;
    margin-top: 16px;
    margin-bottom: 28px;
}

.discount-a {
    color: #f00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.deal-paragraph {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    padding: 0 120px;
}

.image-s {
    background-image: url("../resources/Group\ 44.png"),
        url("../resources/Rectangle\ 1.png"), url("../resources/Rectangle\ 2.png");
    background-position: 69% 39%, right 23.4%, bottom;
    background-repeat: no-repeat;
    padding-top: 64px;

    border-radius: 16px 0px 16px 16px;
}

.product-portfolio {
    margin: 100px 120px;
}

.portfolio-slogan {
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-paragraph {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-top: 22px;
    padding-right: 444px;
}

.product-images>div>img {
    width: 406px;
    height: 430px;
    flex-shrink: 0;
    padding: 0px 24px 24px 0px;
    border-radius: 8px;
}

.product-img1 {
    display: flex;
}

.product-img2 {
    display: flex;
}

.newsletter {
    margin: 100px 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 80px;
}

.newsletter {
    color: #070211;

    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter-details {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    line-height: 32px;
    
    width: 896px;
    padding: 0px 212px;
}

.news-form {
    max-width: 648px;
    margin: 20px auto;
    display: flex;
}

.news-input {
    width: 600px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #fff;
    box-shadow: none;
    border: #fff;
    color: rgba(7, 2, 17, 0.3);
    padding: 25px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-sub {
    border-radius: 0px 50px 50px 0px;
}

.footer {
    background: #070211;
    width: auto;
    padding: 120px 140px;
}

.footer-description {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    padding-bottom: 49px;
}

.address {
    padding-right: 290px;
}

.contact-details {
    padding-left: 290px;
}

.footer-social {
    text-align: center;
    padding-bottom: 49px;
    padding-top: 49px;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 49px;
}