.banner {
    background-image: url("../resources/Banner\ Image.png");
    margin: 5px 140px 110px;
    padding: 130px 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}
   


.banner-tittle {
    color: #fff;
    font-family: Merriweather;
    font-size: 32px;
    text-align: center;
    font-weight: 400;


}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;


}